{% extends "base.html" %}

{% block title %}Contact VESUM{% endblock %}
{% block meta_desc %}Contact the VESUM team for parking solutions and support.{% endblock %}

{% block content %}
<h1>Contact Us</h1>

<p><strong>Email:</strong> <a href="mailto:sector3vedang@gmail.com">sector3vedang@gmail.com</a></p>
<p><strong>Phone:</strong> <a href="tel:+917387269454">+91 7387269454</a></p>


<address>
    <strong>VESUM Technologies</strong><br>
    Shree L.R. Tiwari Educational Campus<br>
    Mira Road–East, 401107<br>
    Maharashtra, India
</address>

{% endblock %}
